//---------------------------------------------------------//
// Custom Variables
//---------------------------------------------------------//


$browser-context: 					16;
$globalMarginBottom: 				20px;

$img-url:							'../../images';
$font-url:							'../../fonts';
$icon-url:							'../../images/icons';

$easing-speed: 						0.2s;
$easing: 							ease-in-out;


$border-color: 						#e2e2e2;

$font-awesome:						'FontAwesome';
$font-secondary:					'Montserrat';