//---------------------------------------------------------//
// TYPOGRAPHY
//---------------------------------------------------------// 
// - All types of typography
// - Font-face
// - Headings
// - Paragraphs
//---------------------------------------------------------//


@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-light-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-regular-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-semibold-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-semibolditalic-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-bold-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-boldit-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-boldit-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('#{$font-url}/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('#{$font-url}/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




h1, h2, h3, h4, h5, h6, p, ul, ol, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: rem(15);
    small {
        font-size: rem(16);
        font-weight: normal;
        position: relative;
        top: rem(-1);
    }
    a {
        color: $gray-darker;
    }
    strong {
        font-weight: $headings-font-weight;
    }
}
@include breakpoint(sm) {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: rem($globalMarginBottom);
	}
}


p, ul, ol {
	margin-bottom: rem($globalMarginBottom);
}

ul li {
	margin-bottom: rem(10);
}


.label-title {
	font-size: rem(12);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $gray-darker;
	display: block;
	@include breakpoint(sm) {
		font-size: rem(14);
	}
}


.title {
    font-size: rem(14);
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
}


.text-link {
    color: $brand-primary;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.intro-p {
    line-height: 1.8571;
    margin-bottom: rem(25);
}



// Text Sizes

.text-lg {
    font-size: rem($font-size-large);
    line-height: $line-height-large;
}


h1, .h1 {
    font-size: rem(30);
    @include breakpoint(sm) {
        font-size: rem(36);
    }
}

h2, .h2 {
    font-size: rem(24);
	@include breakpoint(sm) {
        font-size: rem(32);
    }
}

h3, .h3, .h3-light {
    font-size: rem(20);
    font-weight: normal;
	@include breakpoint(sm) {
        font-size: rem(26);
    }
}

h4, .h4, .h4-light {
    font-size: rem(16);
    font-weight: normal;
	@include breakpoint(sm) {
        font-size: rem(18);
    }
}

h5, .h5 {
	font-size: rem(14);
    font-weight: normal;
	@include breakpoint(sm) {
		font-size: rem(14);
	}
}

h6, .h6 {
	@include breakpoint(sm) {
		
	}
}



.h3-light, .h4-light {
    font-weight: 300;
    line-height: 1.3;
}